* {
  box-sizing: border-box;
}

/* PAGE CENTER */
.forgot-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
  font-family: Arial, sans-serif;
}

/* CARD */
.forgot-form {
  width: 360px;
  background: #ffffff;
  padding: 24px 28px 28px;
  border-radius: 18px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  text-align: center;
}

/* LOGO */
.forgot-logo {
  width: 110px;
  display: block;
  margin: -10px auto 6px;
}

/* TITLE */
.forgot-form h2 {
  margin: 6px 0 10px;
  color: #111827;
}

/* TEXT */
.forgot-text {
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 18px;
}

/* INPUT */
.forgot-form input {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 16px;
  border-radius: 999px;
  border: 1px solid #d1d5db;
  font-size: 14px;
}

.forgot-form input:focus {
  outline: none;
  border-color: #e68d20;
}

/* BUTTON */
.forgot-form button {
  width: 100%;
  padding: 12px;
  border-radius: 999px;
  border: none;
  background: #e68d20;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.forgot-form button:hover {
  background: #f37021;
}

/* BACK TO LOGIN */
.back-login {
  margin-top: 14px;
}

.back-login a {
  font-size: 13px;
  color: #e68d20;
  text-decoration: none;
}

.back-login a:hover {
  text-decoration: underline;
}
/* OTP INPUTS */
.otp-container {
  display: flex;
  justify-content: space-between;
  margin: 14px 0 18px;
}

.otp-container input {
  width: 42px;
  height: 42px;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
}

.otp-container input:focus {
  outline: none;
  border-color: #e68d20;
}
.forgot-actions {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.back-btn {
  background: transparent;
  border: none;
  color: #555;
  cursor: pointer;
  font-size: 14px;
}

.back-btn:hover {
  text-decoration: underline;
}
